runs/*
*.pt
rst_file/*
output_redirect/*
hyperopt_results/*
.ipynb_checkpoints/*
hievents_v2/processed/**
!hievents_v2/processed/*.tsvx
output/*
!output/predict_subevent.json
!output/predict_temporal.json
example/input_data.json
