absl-py==0.10.0
allennlp==1.0.0
allennlp-models==1.0.0
app-version==1.0.1
asn1crypto==1.3.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
blis==0.4.1
boto3==1.15.6
botocore==1.18.6
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cheroot==8.4.5
CherryPy==18.6.0
click==7.1.2
cloudpickle==1.6.0
conllu==3.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
cytoolz==0.9.0.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.9
en-core-web-sm==2.2.5
entrypoints==0.3
es-core-news-sm==2.2.5
filelock==3.0.12
Flask==1.1.2
ftfy==5.1
future==0.18.2
gensim==3.8.3
google-auth==1.21.3
google-auth-oauthlib==0.4.1
grpcio==1.32.0
gurobipy==8.1.1
h5py==2.10.0
hyperopt==0.2.5
idna==2.8
importlib-metadata==2.0.0
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonnet==0.16.0
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.3.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.5.0
msgpack==0.5.6
msgpack-numpy==0.4.4.3
murmurhash==0.28.0
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.1
networkx==2.5
nltk==3.4.5
notebook==6.0.3
notify==0.3.1
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
overrides==3.0.0
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.1
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plac==0.9.6
pluggy==0.13.1
portend==2.6
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
py-rouge==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
Pygments==2.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
regex==2020.9.27
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
segeval==2.0.11
Send2Trash==1.5.0
sentencepiece==0.1.91
simple-http-server==0.3.1
six==1.14.0
sklearn==0.0
smart-open==4.1.2
spacy==2.2.4
srsly==1.0.2
stanza==1.1.1
tempora==4.0.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
thinc==7.4.0
threadpoolctl==2.1.0
tokenizers==0.7.0
toml==0.10.1
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.42.1
traitlets==5.0.4
transformers==2.11.0
ujson==1.35
urllib3==1.25.8
validate-email==1.3
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
word2number==1.1
wrapt==1.10.11
zc.lockfile==2.0
zipp==3.2.0
